:root {
    --bio-width: 400px;
}

h1 {
    font-family: "Source Code Pro";
    margin-top: 30px;
    font-size: 75px;
}

h4 {
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Source Code Pro";
    font-weight: 100;
}

#bio-section {
    margin-top: 100px;
}

#project-summary {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}

.developer-bio {
    margin-left: 4%;
    margin-bottom: 15px;
    width: 300px;
    height: 300px;
    text-align: left;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#kai {
    background-image: url("assets/images/andrew-yang.jpg");
}

.content {
    position: absolute;
    width: calc(var(--bio-width) - 100px);
    padding-top: 35px;
}

button img {
    filter: invert(0);
}

button {
    padding: 0px 5px;
    height: 30px;
    width: 40px;
}

.linkbar {
    position: relative;
    top: 100px;
}

.about-icon {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
