:root {
    --bio-width: 400px;
}

h1 {
    font-family: "Source Code Pro";
    margin-top: 30px;
    font-size: 75px;
}

h4 {
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Source Code Pro";
    font-weight: 100;
}

#bio-section {
    margin-top: 100px;
}

.developer-bio h4 {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
}
.developer-bio {
    margin: 20px;
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
}

#kai {
    background-image: linear-gradient(rgba(0,0,0,0) 30%, #be31ff86 100%), url(../images/andrew-yang.jpg);
    background-blend-mode: screen;
    background-size: 350px;
}

#james {
    background-image: linear-gradient(rgba(0,0,0,0) 30%, #ff313193 100%), url(../images/andrew-yang.jpg);
    background-blend-mode: screen;
    background-size: 350px;
}

#arin {
    background-image: linear-gradient(rgba(0,0,0,0) 30%, #3164ff70 100%), url(../images/andrew-yang.jpg);
    background-blend-mode: screen;
    background-size: 350px;
}

button img {
    filter: invert(0);
}

button {
    padding: 0px 5px;
    height: 30px;
    width: 40px;
}

.linkbar {
    position: relative;
    top: 100px;
}

.about-icon {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
}
