.content-section {
    text-align: left;
}

#project-summary {
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    transform: translateY(50px);
}

.developer-bio {
    margin-top: 100px;
    margin-left: 100px;
    width: 1000px;
    height: 350px;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    text-align: left;
    box-shadow: 20px 20px 40px #002ca3;
    z-index: 100000;
}

h4 {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Avenir";
}

.profile-picture {
    width: 350px;
    height: auto;
}

#bio-section {
    margin-left: auto;
    margin-right: auto;
}

.about-icon {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.profile-picture-container {
    margin-left: 25px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.developer-bio-paragraph {
    width: 50%;
    margin-left: 40%;
    margin-top: auto;
    margin-bottom: auto;
}