body {
    text-align: center;
}

.white {
    color: rgba(128, 128, 128, 0);
}

#cursor {
    width: 45px;
    height: 7px;
    margin-left: 17px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

.blinker {
    animation: blinker 0.8s infinite;
}

h1 {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

h5 {
    font-family: "Avenir";
}

#text {
    width: 100%;
}

@keyframes blinker {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}

.icon {
    width: 100px;
}

h3 {
    font-weight: 200;
    font-size: 50px;
}

#buttons {
    width: 100%;
    height: 100px;
    margin-top: 70px;
}

button img {
    filter: invert(1);
}

span, img {
    vertical-align: middle;
}

#redistrictingLink, #gerryLink {
    display: inline-block;
    text-align: right;
}

.under {
    height: 7px;
    background-color: white;
    width: 94%;
    position: relative;
    right: -7px;
    top: -7px;
    z-index: -1;
    transition: .2s;
}

#gerryLink .under {
    background-color: #128dff;
}

#redistrictingLink .under {
    background-color: #ff3030;
}

#gerryLink:hover .under {
    transform: translate(1px,1px);
    /* background-color: blue; */
}

#redistrictingLink:hover .under {
    transform: translate(1px,1px);
    /* background-color: blue; */
}