#launch-lander {
    width: calc(100% - 50px);
    height: 400px;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-left: 50px;
}

#redistrict-launch {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin-right: 20%;
}

button {
    all: unset;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    font-size: 18px;
    margin: 8px;
    transition: .2s;
    vertical-align: middle;
}


.ghost {
    background: linear-gradient(to bottom, white 0%, white 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 4px;
    color: white;
    text-decoration: none;
    transition: background-size .2s;
    border: 2px solid rgb(255, 255, 255);
}

.ghost:hover {
    background-size: 4px 50px;
    color: black;
}

h1 {
    margin-bottom: 20px;
}
