* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Source Code Pro";
	background: rgb(3, 15, 9);
	color: white;
}

@font-face {
	src: url("../fonts/avenir/avenir-light.otf");
	font-family: "Avenir";
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

#navbar {
	text-align: left;
	height: 70px;
	width: calc(100% - 40px);
	padding-left: 40px;
	font-family: 'Source Code Pro';
	font-weight: 200;
}

.navbar-item {
	cursor: pointer;
	padding-right: 60px;
	height: 70px;
	display: inline-block;
	line-height: 70px;
	transition: transform .2s;
}

.navbar-item:hover {
	transform: translate(0px, 1px);
}

#lander {
	text-align: center;
	font-size: 40px;
	padding-top: 50px;
}

h1 {
	font-weight: 200;
	/* font-family: "Avenir" */
	font-stretch: extra-condensed;
}

h5 {
	width: 70%;
	margin: 20px auto;
	font-size: 30px;
	font-weight: lighter;
}


button {
    all: unset;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid rgb(255, 255, 255);
    font-size: 18px;
    margin: 8px;
    transition: .2s;
    vertical-align: middle;
}

a.buzzword {
	font-style: bold;
	color: #6691ff;
}