body {
    text-align: center;
}

#states-svg {
    transform: scale(1,-1);
}

path {
    fill:rgba(255, 255, 255, 0.103);
    stroke: white;
    stroke-width: 2;
    transition: 0.2s;
}

path:hover {
    cursor: pointer;
    stroke-width:1;
    fill: rgba(255, 255, 255, 0.26);
}
